body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader{
  animation: is-rotating 1s infinite;
  width: 50px;
  height: 50px;
  border: 5px #e5e5e5 solid;
  border-top-color: rgb(0, 5, 53);
  border-radius: 50%;
}

@keyframes is-rotating {
  to{
    transform: rotate(1turn);
  }
}
